[submodule "Decay/vendor/spdlog"]
	path = Decay/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
	branch = v1.x
[submodule "Decay/vendor/GLM"]
	path = Decay/vendor/GLM
	url = git@github.com:g-truc/glm.git
[submodule "Decay/vendor/assimp"]
	path = Decay/vendor/assimp
	url = git@github.com:assimp/assimp.git
[submodule "Decay/vendor/entt"]
	path = Decay/vendor/entt
	url = git@github.com:skypjack/entt.git
